.detailed-about-me-container {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1.1rem;
    text-align: left;
    overflow-x: hidden;
    flex-flow: column nowrap;
    height: 90vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    scroll-snap-type: y mandatory;

    .detail-container {
        scroll-snap-align: center;
        max-width: 100vw;
        min-height: 90vh;
        padding: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title-and-date {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            @media (max-width: 768px) {
                flex-direction: column;
                gap: 0;
                align-items: flex-start;
            }
        }

        .table-of-content{
            display: flex;
            gap: 1rem;

            ::ng-deep {
                .p-button {
                    background: linear-gradient(to right, #FFAFBD 0%, #ffc3a0 100%);;
                    color: black;
                    border: none;
                }

                .p-button:hover {
                    background: #FFAFBD;
                    border: 2px solid #5b2c34;
                    color: black;
                }
            }
        }
    }

    .profile {
        display: flex;
        align-items: center;
        gap: 8%;

        h1 {
            font-weight: bold;
        }

        &-description p {
            margin-bottom: 0;
        }

        b {
            color: #5b2c34;
        }

        &-img {
            max-width: 600px;
            max-height: 50vh;
            width: 40vw;
            border-radius: 50%;
        }

        @media (max-width: 768px) {
            flex-direction: column-reverse;
            gap: 1rem;
            align-items: flex-start;

            &-img {
                max-width: 80vw;
                border-radius: 30%;
            }
        }        
    }

    
}