.nav-bar-container {
    display: flex;
    width: 100%;
    justify-content: space-between;

    ::ng-deep  .nav-item-container {
        width: 100%;
        display: inline;

        .nav-item .p-button {
            width: 100%;
            background-color: white;
            color: black;
            border-top: 0;
            border-bottom: 0;
            border-radius: 0;
            border-color: rgb(195, 203, 202);
            height: 4rem;
        }

        .nav-item .p-button:hover:not(.active) {
            background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgb(195, 203, 202) 100%, rgba(237, 221, 83, 1) 100%);
            color: black;
        }

        .active .p-button {
            background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(122, 235, 221, 1) 100%, rgba(237, 221, 83, 1) 100%);

            .p-button-label {
                font-weight: bold;
            }
        }
    }
}