<div class="about-me-container">
    <div class="content">
        <h1>About me</h1>
        <div class="description-container">
            <div class="about-me-image">
                <img class="profile-image" src="/assets/images/me.jpg"/>
                <img
                    class="deco-image"
                    style="bottom: 22%; left: 2%"
                    src="/assets/images/climbing.png"
                />
                <img
                    class="deco-image"
                    style="top: 5%; left: 10%"
                    src="/assets/images/mug.png"
                />
                <img
                    class="deco-image"
                    style="top: 35%; right: -2%"
                    src="/assets/images/camera.png"
                />
            </div>
            <div class="description">
                <p class="mt-2">I am Cheryl Chen, a software engineer from Hong Kong.</p>
                <p class="mt-2">I also love coffee, photography, and climbing.
                    <i class="pi pi-face-smile"></i>
                </p>
                <p-button [routerLink]="['projects']" class="mt-2" icon="pi pi-heart-fill" label="Learn more"/>
            </div>
        </div>
    </div>
</div>